*{
    color: white;
}
body{
    background-image: url(../img/MicrosoftTeams-image.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-color: black;

   max-width: 100%;

}
#img{
    width: 300px; 
    height: 300px;
}
img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}