@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body,
html {
    background-color: whitesmoke;
}

header {
    background-color: gray;
}

header>h1 {
    padding: 10px;
    text-align: center;
}

span#menu {
    background-color: #12263A;
    color: whitesmoke;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#menu:hover {
    background-color: #06BCC1;
    color: black;
}

menu {
    display: none;
}

menu>ul {
    list-style-type: none;
}

menu>ul>li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #12263A;
    color: #06BCC1;
    text-align: center;
    border-top: 2px solid #C5D8D1;
}

menu>ul>li>a:hover {
    background-color: #7EA3CC;
}

main {
    width: 90vw;
    background-color: #7EA3CC;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}

article>h2 {
    padding-bottom: 20px;
    text-align: center;
}

article>p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

img.estatura {
    height: 0%;
    width: 30%;
    border-radius: 10%;
}
article>div{
    display: flex;
    background-color: violet;
    justify-content: center;
}